<div class="flex flex-column align-items-center justify-content-center h-full py-5 px-3">
    <i class="pi pi-fw pi-ticket mr-2 text-2xl"></i>
    <p class="mt-5 text-center text-lg">Secret Info</p>
    <div class="col-12 lg:col-8">
        <div class="card">
            <div class="p-card-header flex justify-content-center align-items-center mb-5">
                <button pButton pRipple type="button" icon="pi pi-user-plus"
                    class="p-button-rounded p-button-info"></button>
                <span class="ml-3">Register</span>
            </div>

            <form [formGroup]="secondFormGroup">
                <div class="field grid">
                    <label for="email" class="col-fixed w-9rem">Email</label>
                    <mat-form-field class="example-full-width">
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="Ex. Alex@gmail.com" formControlName="email" required>
                        <mat-error *ngIf="secondFormGroup.controls['email'].hasError('required') ||
                        secondFormGroup.controls['email'].hasError('email')
                        "><b><i>{{getErrorEmail()}}</i></b></mat-error>
                    </mat-form-field>
                </div>
                <div class="field grid">
                    <label for="password" class="col-fixed w-9rem">Password</label>
                    <mat-form-field class="example-full-width">
                        <mat-label>Enter your password</mat-label>
                        <input matInput placeholder="example: Pl8k*O9*" [type]="hide ? 'password' : 'text'"
                            formControlName="password" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="secondFormGroup.controls['password'].hasError('required') ||
                            secondFormGroup.controls['password'].hasError('pattern')
                            "><b><i>{{getErrorMessagePassword()}}</i></b></mat-error>
                        </mat-form-field>
                </div>
                <div class="field grid">
                    <label for="phoneNumber" class="col-fixed w-9rem">Phone Number</label>
                    <mat-form-field class="example-full-width">
                        <mat-label>Telephone</mat-label>
                        <ngx-mat-intl-tel-input [preferredCountries]="['us', 'gb', 'tn']" [enablePlaceholder]="true"
                            [enableSearch]="true" name="phone" describedBy="phoneInput"
                            formControlName="numTel"></ngx-mat-intl-tel-input>
                        <mat-error *ngIf="secondFormGroup.controls['numTel'].hasError('required')">
                            {{getErrorNumTel()}}
                        </mat-error>
                    </mat-form-field>

                </div>
                <div class="flex justify-content-end mt-4">
                    <span class="p-buttonset">
                        <button class="p-button-raised p-button-danger" pButton pRipple label="Cancel" icon="pi pi-arrow-left" (click)="back()"></button>
                        <button pButton pRipple label="Proceed" icon="pi pi-arrow-right" (click)="proceed()"
                        [disabled]="secondFormGroup.controls['numTel'].hasError('required') ||
                        secondFormGroup.controls['password'].hasError('required') ||
                        secondFormGroup.controls['password'].hasError('pattern') ||
                        secondFormGroup.controls['email'].hasError('required') ||
                        secondFormGroup.controls['email'].hasError('email')
                        "></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>