<div class="grid p-fluid">
    <div class="col-12 lg:col-6">
        <div class="card">
            <h5>Percentage of employee status from your recent teams</h5>
            <p-chart type="bar" [data]="barData" [options]="barOptions" [style]="{'width': '50%'}"></p-chart>
        </div>
        <div class="card">
            <h5>Number of Teams Created per Month</h5>
            <p-chart type="line" [data]="linearChartData" [options]="linearChartOptions" [style]="{'width': '100%'}"></p-chart>
        </div>
    </div>
    <div class="col-12 lg:col-6">
        <div class="card flex flex-column align-items-center">
            <h5>Percentage of team status</h5>
            <p-chart type="pie" [data]="pieData" [options]="pieOptions" [style]="{'width': '50%'}"></p-chart>
        </div>
        <div class="card flex flex-column align-items-center">
            <h5>Availability of Teams</h5>
            <p-chart type="doughnut" [data]="teamsDonutChartData" [options]="teamsDonutChartOptions" [style]="{'width': '50%'}"></p-chart>
        </div>
    </div>
</div>
