.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.example-card{
    opacity: 0.3;
    background-color: rgba(195, 175, 140, 0.274);
}

.example-card:hover{
    opacity: 1;
}

.example-header-image {
    background-size: cover;
}

.example-header-lock {
    background-size: cover;
    width: 10%;
    margin: 5px;
}

.img-card{
    margin: 0 auto;
    width: 50%;
    justify-content: center;
}

.example-full-width {
    width: 100%;
}

.button-login{
    width: 40%;
}

.container-ng-input{
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.button-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}